@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.row{
	margin: 0!important;
}
body{
	font-family: 'open_sansregular';
	font-size: 1.6em;
	margin: 0px;
	padding: 0px;
}
#encabezado{
	width: 100%;
	background-color: #C1272D;
}
#logo{
	margin:1.5em;
}
#menu{
	background-color: #C1272D;
	border:none;
	font-family: 'liberation_sansregular';
}
#menu li{
	display:inline-block;
	text-decoration: none;
	border-right:2px solid rgba(255,255,255,0.5);
	margin-top: 5em;
	padding:0.3em 2em;
}
#menu li:first-child{
	border-left:2px solid rgba(255,255,255,0.5);
}
#menu li a{
	text-decoration: none;
	color:#fff;
}
#intro{
	width:60%;
	margin:3em auto;
	padding:1.5em 0.5em; 
	border:2px solid #E6E6E6;
	font-family: OpenSans-Regular;
}
#bgintro{
	width:100%;
	background-color:#F2F2F2; 
}
.comillas{
	font-size: 2em;
}
#pilares{
	background-image: url(../imagenes/bg.jpg);
	background-size: cover;
	padding:19em 0 2em;
}
.containerpilares{
	background-color: rgba(255,255,255,0.3);

}
.titulopilares h1{
	color:#C1272D;
	padding-bottom: 1em;
}
.iconos{
	padding-bottom: 1em;
}
.containerpilares2{
	background-color: #fff;
}
.textopil{
	padding:1.5em;
}
.textopil h1{
	color:#C1272D;
	text-align: center;
}
#mariomarin{
	background-color:#C1272D;
}
#mariomarin h1{
	border:2px solid #fff;
	margin:1em 0 1em 2em;
	padding:0.3em 1em;
	color:#fff;
}
#mariomarin img{
	padding:10em 2em 2em 0em;
}
#mariomarin p{
	color:#fff;
	padding:1em 0em 2em 3em;
}
#ordenanzas{
	padding: 2em 0em;
}
#ordenanzas h1{
	border:2px solid #999999;
	color:#999999;
	padding:0.4em 0;
}
#ordenanzas p{
	padding-top: 0.5em;
}
#ordenanzas button{
	background-color:#C1272D;
	border:none; 
	padding:1em 1.5em;
	margin-top: 15em;
}
#ordenanzas a{
	color:#fff;
	text-decoration: none;
}
#copa{
	background-color:#F2F2F2; 
}
#copa h1{
	border: 2px solid #999;
	padding: 0.3em 1em;
	color:#999;
	background-color: #fff;
	margin-top:1em;
	margin-left:0.7em;
}
#copa p{
	color:#999;
	padding-top:3em; 
}
#dipcop{
	padding-top:3em;
	width:70%; 
}
#unete{
	color:#999;
	border: 2px solid #999;
	padding:0.3em 0.5em;
	margin-left:0.7em;
}
.fondo{
	padding-top: 3em;
	padding-bottom: 3em;
	background-image: url(../imagenes/inscripcion.png);
	background-repeat:no-repeat;
    background-position:right top;
}
#inscripcion{
	margin:1.5em 0em 1em 3em;
	font-size: 1.5em;
	color:#999;
}
#correo{
	background-color:#C1272D;
	padding:0.3em;
	border: none;
	margin-left: 0.4em;
}
#btn-enviar{
	background-color:#C1272D;
	padding:0.3em ;
	border: none;
	margin-bottom:1.5em;
	color:#fff;
}
#gracias{
	font-size: 2em;
	margin-left: 6em;
	color:#999;
}
footer{
	background-color: #999;
	color:#fff;
	padding-top: 3em;
	padding-bottom: 2em;
}
footer ul{
	list-style: none;
}
footer ul li{
	border-bottom: 1px dotted rgba(255,255,255,0.3);
}
footer a{
	text-decoration: none;
	color:#fff;
}
footer a:hover{
	text-decoration: none;
	color:#C1272D;
}
.contactos{
	padding-left:5em;
	padding-top: 2em;
}
.partido{
	padding-top: 2em;
}
/*galeria*/
/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.galeria{
	font-family: 'OpenSans-Regular';
} 
.galeria h1{
	border: 2px solid #999;
	padding: 0.3em 1em;
	color:#999;
	margin:1.5em 0;
}

/*noticias*/
.fechanoti{
	font-size: 2em;
	color:#777;
	padding:0.4em 0em 0em 1em; 
}
.dianoti{
	font-size: 1.5em;
}
.reco{
	color:#C1272D;
}
.notimg{
	margin-bottom:4em;
}
.parranoti{
	color: #999;
}
.ordena{
	background-color: #C1272D;
	padding:1em 1.2em;
	color:#fff;
	margin-top: 9em;
}
.ordena a:hover{
	text-decoration: none;
}
.ordena a{
	text-decoration: none;
	color:#fff;
}
.barra{
	border:1px solid #C1272D;
}

/*contactenos*/
.campo{
	background-color:#E6E6E6;
	color:#fff !important;	
}
.btnenvia{
	background-color: #C1272D;
	margin:2em 0 2em 15em;
	color:#fff;
	padding:1em 1.3em;
	border: none;
}

@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
 #menu li{
	display:inline-block;
	text-decoration: none;
	border-right:1px solid rgba(255,255,255,0.5);
	margin-top: 0.2em;
	padding:0.3em 1em;
}
#menu li:first-child{
	margin-left: 7em;
}
 .ordena{
	margin-top:3em;
}
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
#menu li{
	display:inline-block;
	text-decoration: none;
	border-right:1px solid rgba(255,255,255,0.5);
	margin-top: 0.2em;
	padding:0.3em 1em;
}
.ordena{
	margin-top:3em;
}

}

/* xs */
@media (max-width: 767px) {
#menu li{
	display:inline-block;
	text-decoration: none;
	border-right:1px solid rgba(255,255,255,0.5);
	margin-top: 0.2em;
	padding:0.3em 1em;
}
#menu li:first-child{
	margin-left: 5em;
}
.ordena{
	margin-top:3em;
}
}


/* XS Portrait */
@media (max-width: 480px) {
#menu li{
	display:inline-block;
	text-decoration: none;
	border-right:0px solid rgba(255,255,255,0.5);
	margin-top: 0.2em;
	padding:0.3em 1em;
}
#menu li:first-child{
	border-left:0px solid rgba(255,255,255,0.5);
	margin-left:0px;
}
.ordena{
	margin-top: 3em;
}
.btnenvia{
	background-color: #C1272D;
	margin:2em 0 2em 5em;
	color:#fff;
	padding:1em 1.3em;
	border: none;
}
}