@font-face{
	font-family: OpenSans-Regular;
	src:url(fuentes/OpenSans-Regular.ttf);
	src:url(fuentes/opensans-regular.eot);
}
@font-face{
	font-family: LiberationSans-Regular;
	src:url(fuentes/LiberationSans-Regular.ttf);
	src:url(fuentes/liberationsans-regular.eot);
}